<!DOCTYPE html>
<html lang="en">

<title>Photo Voter</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link href="styles/main.css" rel="stylesheet" type="text/css">

<body>

    <header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
      <div class="w3-display-middle w3-text-white w3-center">
          <h1 class="w3-jumbo">Need help choosing a photo?</h1>
      </div>
    </header>

    <div class = "NavBar">
        <ul>
            <li style="float:left"><a href="index.html">Home</a></li>
            <li style="float:left"><a href="#">Categories</a></li>

            <li style="float:right"><a href="register.html">Register</a></li>
            <li style="float:right"><a href="login.html">Login</a></li>
        </ul>
    </div>

    <div class="w3-display-container bgimg2">
        <div class="w3-display-middle w3-text-white w3-center">
            <h1 class="w3-jumbo"><strong>Try crowd sourcing and let the people choose!</strong></h1><br>
        </div>
    </div>

    <div class="w3-container w3-padding-64 w3-pale-red w3-grayscale-min" id="us">
        <div class="w3-content">
            <img class="w3-round w3-grayscale-min" src="/w3images/wedding_couple2.jpg" style="width:100%;margin:32px 0">
            <p>Whether you're trying to figure out the best photos for that smooth Tinder profile, or you're hoping to look slick
            for your LinkedIn profile, ask your peers and get some help!
            </p><br>
            <p class="w3-center"><a href="register.html" class="w3-button w3-black w3-round w3-padding-large w3-large">Get started</a></p>
        </div>
    </div>

</body>
</html>